
@font-face {
    font-family: 'Semplicita-Semibold';
    src: url('../fontes/SemplicitaPro-Semibold.otf')
}

@font-face {
    font-family: 'Semplicita';
    src: url('../fontes/SemplicitaPro.otf')
}

    /* :root{

         MOBILE 
       --topo_pagina: 2.2rem;
       --titulo_grande: 1.3rem;
       --botao: 1.1rem;
       --tamanho_header: 70px;
       --cabecalho-05: 3.6rem;
       --cabecalho-06: 1.6rem;
       --paragrafo-01: 2.4rem;
       --paragrafo-02: 1.8rem;
       --paragrafo-03: 1.8rem;
       --link-01: 2rem;
    } */
#sobre_daniel{
    display: flex;
    flex-direction: column;
}

#missao_valores{
    display: flex;
    flex-direction: column;
}
.centraliza{
    flex-direction: column;
    align-items: center;
}


 /* TABLET */

 @media (min-width: 600px){

    /* :root{

       TABLET 
       --topo_pagina: 3rem;
       --titulo_grande: 2rem;
       --botao: 1.1rem;
       --lista: 1.5rem;
       --tamanho_header: 0px;
      --cabecalho-02: 2.8rem;
      --cabecalho-03: 2.6rem;
      --cabecalho-04: 2.4rem;
      --cabecalho-05: 3.6rem;
      --cabecalho-06: 1.6rem;
      --paragrafo-01: 2.4rem;
      --paragrafo-02: 1.8rem;
      --paragrafo-03: 1.8rem;
      --link-01: 2rem;
  
       } */
       .topo_pagina{
        padding-top: 4rem;
        padding-bottom: 5rem;
       }

       #subtitulo{
        width: 75%;
       }

       #sobre_daniel{
        flex-direction: row;
        justify-content: space-between;
       }

       #missao_valores{
        flex-direction: row;
        justify-content: space-between;
    }
    }
    @media (min-width: 1180px){

        /* :root{
        
             WEB 
            --topo_pagina: 3rem;
            --titulo_grande: 2rem;
            --botao: 1.1rem;
            --lista: 1.5rem;
            --tamanho_header: 0px;
            --cabecalho-01: 4rem;
            --cabecalho-02: 2rem;
            --cabecalho-03: 2rem;
            --cabecalho-04: 2.4rem;
            --cabecalho-05: 4rem;
            --cabecalho-06: 1.6rem;
            --paragrafo-01: 1.6rem;
            --paragrafo-02: 1.6rem;
            --paragrafo-03: 1.9rem;
            --link-01: 2rem;
        
        } */

        h1{
            font-family: 'Semplicita-Semibold';
            font-size: var(--topo_pagina);
            color: #0ABAB5;
            padding-bottom: 2.2rem;
        }

    }