
@font-face {
    font-family: 'Semplicita-Semibold';
    src: url('../fontes/SemplicitaPro-Semibold.otf')
}

@font-face {
    font-family: 'Semplicita';
    src: url('../fontes/SemplicitaPro.otf')
}

    /* :root{

         MOBILE 
       --topo_pagina: 2.2rem;
       --titulo_grande: 1.3rem;
       --botao: 1.1rem;
       --tamanho_header: 70px;
       --cabecalho-05: 3.6rem;
       --cabecalho-06: 1.6rem;
       --paragrafo-01: 2.4rem;
       --paragrafo-02: 1.8rem;
       --paragrafo-03: 1.8rem;
       --link-01: 2rem;
    } */

    h1{
        font-family: 'Semplicita-Semibold';
        font-size: var(--topo_pagina);
        color: #0ABAB5;
        padding-bottom: 2.2rem;
    }

    /* serviços gerais */

    #servicos_gerais{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #servicos_gerais a{
        text-decoration: none;
    }

    #servicos_gerais li{
        margin-bottom: 1.5rem;
    }

    

    .areas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .area_nome{
        padding-top: 0.7rem;
        font-size: 16px;
        line-height: 130%;
        font-family: 'Semplicita-Medium';
        color: #18193F;
        width: 125px;
        text-align: center;
    }

    .icone_geral{
        width: 50px;
        height: 50px;

    }




 /* TABLET */

 @media (min-width: 600px){

    /* :root{

       TABLET 
       --topo_pagina: 3rem;
       --titulo_grande: 2rem;
       --botao: 1.1rem;
       --lista: 1.5rem;
       --tamanho_header: 0px;
      --cabecalho-02: 2.8rem;
      --cabecalho-03: 2.6rem;
      --cabecalho-04: 2.4rem;
      --cabecalho-05: 3.6rem;
      --cabecalho-06: 1.6rem;
      --paragrafo-01: 2.4rem;
      --paragrafo-02: 1.8rem;
      --paragrafo-03: 1.8rem;
      --link-01: 2rem;
  
       } */
    }
    @media (min-width: 1180px){

        /* :root{
        
             WEB 
            --topo_pagina: 3rem;
            --titulo_grande: 2rem;
            --botao: 1.1rem;
            --lista: 1.5rem;
            --tamanho_header: 0px;
            --cabecalho-01: 4rem;
            --cabecalho-02: 2rem;
            --cabecalho-03: 2rem;
            --cabecalho-04: 2.4rem;
            --cabecalho-05: 4rem;
            --cabecalho-06: 1.6rem;
            --paragrafo-01: 1.6rem;
            --paragrafo-02: 1.6rem;
            --paragrafo-03: 1.9rem;
            --link-01: 2rem;
        
        } */

        h1{
            font-family: 'Semplicita-Semibold';
            font-size: var(--topo_pagina);
            color: #0ABAB5;
            padding-bottom: 2.2rem;
        }

        /* seção com todas as áreas listadas */

        .icone_geral{
            width: 100px;
            height: 100px;
    
        }

        .area_nome{
            padding-top: 1.2rem;
            font-size: 28px;
            line-height: 130%;
            font-family: 'Semplicita-Medium';
            color: #18193F;
            width: 200px;
            text-align: center;
        }

    }