@font-face {
    font-family: 'Semplicita-Semibold';
    src: url('../fontes/SemplicitaPro-Semibold.otf')
}

@font-face {
    font-family: 'Semplicita';
    src: url('../fontes/SemplicitaPro.otf')
}

    :root{

        /* MOBILE */
       --topo_pagina: 2.2rem;
       --titulo_grande: 1.3rem;
       --botao: 1.1rem;
       --tamanho_header: 70px;
       --cabecalho-05: 3.6rem;
       --cabecalho-06: 1.6rem;
       --paragrafo-01: 2.4rem;
       --paragrafo-02: 1.8rem;
       --paragrafo-03: 1.8rem;
       --link-01: 2rem;
    }

html{
    font-family: 'Semplicita';
    scroll-behavior: smooth;
    width: 100%;
    background: #FBF7F7;

  }

.container{
    margin: 1rem;
}
#logo{
    width: 120px;

}

/* header */
header{
  z-index: 1000;
}
#fundo_header{
  position: absolute;
  right: 0;
  height: 20%;
  top: 0%;


}
#header{
    box-sizing: border-box;
    height: var(--tamanho_header);
    padding-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  #menu {
    padding-top: 1rem;
    display: block;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;
    background: #FBF7F7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - var(--tamanho_header));
    visibility: visible;
    overflow-y: auto;
  }

  #nav.active #circulo_esquerdo {
    display: none;
    transition: 0.6s;

  }
  #nav.active #circulo_direito {
    display: none;
    transition: 0.6s;

  }
  #nav.active #fundo_header {
    display: none;
    transition: 0.6s;

  } 


  #menu a {
    color: #00A1D1;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Semplicita-Semibold';
    padding: 1rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    z-index: 1000;
  }
  #hamburger {
    color: #00A1D1;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
    }


    /* título topo da página */
    .topo_pagina{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #circulo_esquerdo{
      
      position: absolute;
      left: 0;
      height: 50%;
      top: 5%;
      z-index: -1;
    }

    #circulo_direito{
      position: absolute;
      right: 0;
      height: 50%;
      top: 5%;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      z-index: -1;

    }


    .topo_pagina h1{
        font-family: 'Semplicita-Semibold';
        font-size: var(--topo_pagina);
        color: #0ABAB5;
        padding-bottom: 2.2rem;
    }

    .topo_pagina p{
        font-family: 'Semplicita';
        line-height: 160%;
        padding-bottom: 0.5rem;
        text-align: center;

    }

    b{
        font-family: 'Semplicita-Semibold';
        color: #0ABAB5;

    }

    section{
      padding-top: 1.5rem;
    }

    h2{
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        font-family: "Semplicita-Semibold";
        font-size: var(--titulo_grande);
        line-height: 130%;
        color: #0ABAB5;
    }

    p{
        line-height: 160%;
    }

    /* Conheça o Jeito CaI */

    .saiba_mais{
      margin-top: 0.5rem;
      width: 150px;
      height: 50px;
      border-radius: 90px;
      border: none;
      background: #00A1D1;

    }

    .saiba_mais a{
      text-decoration: none;
      color: #F1F1F1;
      font-size: var(--botao);
      font-family: 'Semplicita-Semibold';
    }

    .saiba_mais:hover{
      background:#0ABAB5;
    }


    .botao_contato{
      width: 200px;
      align-items: center;
      margin-top: 1.5rem;
    }

    .centraliza{
      display: flex;
      justify-content: center;
    }

    /* Nossos serviços */
    #servicos li{
      padding-top: 0.8rem;
      list-style: disc;
      margin-left: 1rem;
    }

    #servicos li:first-child{
      padding-top: 0;

    }

    #servicos{
      padding-bottom: 1rem;
    }

    /* imagem de serviços */
    #servico_imagem{
      border-radius: 61px 0px 61px 0px;
      width: 80%;
      margin: auto;
      display: block;
      padding-bottom: 2rem;
      padding-top: 1.5rem;
    }
  
  /* footer */
  footer h4{
    font-family: 'Semplicita-Semibold';
    color: #F1F1F1;
    padding-bottom: 0.7rem;
    padding-top: 2rem;
    text-align: center;
  }

  footer p{
    font-family: 'Semplicita';
    color: #F1F1F1;
  }
  footer{
    padding-top: 2rem;
    background-image: url("../imagens/fundo_footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  #logo_footer{
    height: 45px;
    width: fit-content;
  }

  .icones_redes{
    height: 45px;
    width: fit-content;
    padding: 0.3rem;
  }

  .secao_contato{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.3rem;
  }
  
  .icone_contato{
    height: 25px;
    width: 25px;
  }

  footer a{
    text-decoration: none;
  }


 /* TABLET */

 @media (min-width: 600px){

     :root{

        /* TABLET */
        --topo_pagina: 3rem;
        --titulo_grande: 2rem;
        --botao: 1.1rem;
        --lista: 1.5rem;
        --tamanho_header: 0px;
       --cabecalho-02: 2.8rem;
       --cabecalho-03: 2.6rem;
       --cabecalho-04: 2.4rem;
       --cabecalho-05: 3.6rem;
       --cabecalho-06: 1.6rem;
       --paragrafo-01: 2.4rem;
       --paragrafo-02: 1.8rem;
       --paragrafo-03: 1.8rem;
       --link-01: 2rem;
   
        }
  .container{
    margin: 3rem;
  }

   p{
    font-size: var(--paragrafo);

   }

   /* header */
   #logo{
    width: 175px;
  }
  #hamburger {
    width: 30px;
    border-top: 3px solid;
  }
  #hamburger::after,
  #hamburger::before {
    width: 30px;
    height: 3px;
    
  }
   /* topo da página */
   #subtitulo{
    font-size: 1.375rem;
    padding-bottom: 1.5rem;
   }

   #circulo_esquerdo{
    height: 70%;
    top: 10%;

  }

  #circulo_direito{
    height: 70%;
    top: 10%;
  }
  .topo_pagina h1{
    padding-bottom: 3rem;
  }
   /* seção nossos serviços */
    #servico_secao{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #servico_imagem{
      width: 40%;
      padding: 0;
      margin: 0;
    }

    #servicos li{
      font-size: var(--lista);
    }

    /* seção serviços lista  */
    #servicos li{
      padding-top: 2rem;

    }

    #servicos li:first-child{
      padding-top: 0;

    }
 }
@media (min-width: 1180px){

    :root{
    
        /*  WEB */
        --cabecalho-01: 4rem;
        --cabecalho-02: 2rem;
        --cabecalho-03: 2rem;
        --cabecalho-04: 2.4rem;
        --cabecalho-05: 4rem;
        --cabecalho-06: 1.6rem;
        --paragrafo-01: 1.6rem;
        --paragrafo-02: 1.6rem;
        --paragrafo-03: 1.9rem;
        --link-01: 2rem;
    
    }


    .container_desktop{
      margin: 0 auto;
      max-width: 1080px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #menu{
        position: relative;
        display: flex;
        list-style: none;
        gap: 1rem;
        visibility: visible;
        overflow-y: visible;
        z-index: 1;
        top: -20px;
        transition: none;
      
      }

    a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    }

    #menu a:hover {
      color: #03FF69;
      border-bottom: 4px solid #03FF69;
    
    }


    #header {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }

    #menu {
    background: none;
    display: flex;
    list-style: none;
    gap: 0.5rem;
    }

    #menu a {
    display: block;
    padding: 0.5rem;
    border-bottom: none;
    font-size: 1.5rem;
    }

    #btn-mobile {
    display: none;
    }


}
 